.navImgs{
	opacity: 0.1;
}

.carousel-item{
	height: 450px;
}

#slide1{
	background: url('Images/Arsenal.jpg') center no-repeat;
	background-size: cover;
}
#slide2{
	background: url('Images/AstonVilla.jpg') center no-repeat;
	background-size: cover;
}
#slide3{
	background: url('Images/bournemouth.jpg') center no-repeat;
	background-size: cover;
}
#slide4{
	background: url('Images/chelsea.jpg') center no-repeat;
	background-size: cover;
}
#slide5{
	background: url('Images/Crystal_palace.jpg') center no-repeat;
	background-size: cover;
}
#slide6{
	background: url('Images/Everton.jpg') center no-repeat;
	background-size: cover;
}
#slide7{
	background: url('Images/Leicester-City.jpg') center no-repeat;
	background-size: cover;
}
#slide8{
	background: url('Images/liverpool.jpg') center no-repeat;
	background-size: cover;
}
#slide9{
	background: url('Images/IMG.png') center no-repeat;
	background-size: cover;
}
#slide10{
	background: url('Images/manCity.jpg') center no-repeat;
	background-size: cover;
}
#slide11{
	background: url('Images/Newcastle.jpg') center no-repeat;
	background-size: cover;
}
#slide12{
	background: url('Images/Norwich-City.jpg') center no-repeat;
	background-size: cover;
}
#slide13{
	background: url('Images/Southampton.jpg') center no-repeat;
	background-size: cover;
}
#slide14{
	background: url('Images/Stoke_city.jpg') center no-repeat;
	background-size: cover;
}
#slide15{
	background: url('Images/Sunderland.jpg') center no-repeat;
	background-size: cover;
}
#slide16{
	background: url('Images/Swansea.jpg') center no-repeat;
	background-size: cover;
}
#slide17{
	background: url('Images/Tottenham_hotspur.jpg') center no-repeat;
	background-size: cover;
}
#slide18{
	background: url('Images/Watford.jpg') center no-repeat;
	background-size: cover;
}
#slide19{
	background: url('Images/WestHam.png') center no-repeat;
	background-size: cover;
}
#slide20{
	background: url('Images/West_bromwich.jpg') center no-repeat;
	background-size: cover;
}
#slide21{
	background: url('Images/hullCity.jpg') center no-repeat;
	background-size: cover;
}
#slide22{
	background: url('Images/middle.jpg') center no-repeat;
	background-size: cover;
}

#foot{
	background-color: black;
	position: relative;
	margin-top: 20px;
	border-radius: 5px;
}
#fm{
	font-size: 2em;
	color:white;
}
@media only screen and (min-width: 1025px){
	.headline{
		font-size: 2.2em;
	}
	.imag{
		border-image: 2px solid;
		height: 17em;
	}
	.fon{
		height: 21.6em;
	}
	.table{
	font-size: 1.3em;
	}
}
@media only screen and (min-width: 769px) and (max-width: 1024px){
	.headline{
		font-size: 2.2em;
	}
	.imag{
		border-image: 2px solid;
		height: 17em;
	}
	.fon{
		height: 17.2em;
	}
}
@media only screen and (min-width: 481px) and (max-width: 768px){
	
	.navbar{
		font-size: 2em;
	}
	.imag{
		padding: 2px 2px;
		height: 10em;
	}
}
@media only screen and (min-width: 320px) and (max-width: 480px){
	.headline{
		font-size: 1.3em;
	}
	.collapse ul li a{
		font-size: 1.6em;
	}
	.imag{
		padding: 2px 2px;
		height: 15.5em;
	}
}
.fon:hover{
	box-shadow: 0px 5px 5px 0px #ccc;
}

.fonts:hover{
	box-shadow: 0px 5px 5px 0px #ccc;
}
a{
	text-decoration: none;
}
