.navImgs{
	opacity: 0.1;
}
q{
	quotes: "\201C" "\201D"
} 
.carousel-item{
	height: 450px;
}

#slide1{
	background: url('Images/bournemouth.jpg') center no-repeat;
}
#slide2{
	background: url('Images/AstonVilla.jpg') center no-repeat;
}
#slide3{
	background: url('Images/Arsenal.jpg') center no-repeat;
}
#slide4{
	background: url('Images/bournemouth.jpg') center no-repeat;
}
#slide5{
	background: url('Images/bournemouth.jpg') center no-repeat;
}
#slide6{
	background: url('Images/bournemouth.jpg') center no-repeat;
}
#slide7{
	background: url('Images/bournemouth.jpg') center no-repeat;
}
#slide8{
	background: url('Images/bournemouth.jpg') center no-repeat;
}
#slide9{
	background: url('Images/bournemouth.jpg') center no-repeat;
}
#slide10{
	background: url('Images/bournemouth.jpg') center no-repeat;
}
#slide11{
	background: url('Images/bournemouth.jpg') center no-repeat;
}
#slide12{
	background: url('Images/bournemouth.jpg') center no-repeat;
}
#slide13{
	background: url('Images/bournemouth.jpg') center no-repeat;
}
#slide14{
	background: url('Images/bournemouth.jpg') center no-repeat;
}
#slide15{
	background: url('Images/bournemouth.jpg') center no-repeat;
}
#slide16{
	background: url('Images/bournemouth.jpg') center no-repeat;
}
#slide17{
	background: url('Images/bournemouth.jpg') center no-repeat;
}
#slide18{
	background: url('Images/bournemouth.jpg') center no-repeat;
}
#slide19{
	background: url('Images/bournemouth.jpg') center no-repeat;
}
#slide20{
	background: url('Images/bournemouth.jpg') center no-repeat;
}

/*footer adjustment*/
.ion-social-facebook{
	font-size: 3em;
	position: relative;
	padding-left: 4em;
}
.ion-social-instagram-outline{
	font-size: 3em;
	color: black;
	position: relative;
	padding-left: 4em;
}
.ion-social-whatsapp-outline{
	font-size: 3em;
	color: green;
	position: relative;
	padding-left: 2em;
}
#foot{
	background-color: black;
	position: relative;
	margin-top: 20px;
	border-radius: 5px;
}
#fm{
	font-size: 2em;
	color:white;
}

@media screen and (min-width: 768px) {
	.headline{
		font-size: 2.4em;
	}
}
@media screen and (min-width: 480px) and (max-width: 767px){
	.headline{
		font-size: 100em;
	}
}
